<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <div id="login">
    <div class="container">
      <h2 class="logText">Login</h2>
      <div>
        <form action="/login" method="POST" id="form">
          <label for="username">Username</label>
          <input id="username" type="text" name="username" placeholder="Your username">

          <label for="email">Email</label>
          <input id="email" type="email" name="email" placeholder="Your email">

          <label for="password">Password</label>
          <input id="password" type="password" name="password" placeholder="Your password">

          {{#if errorMessage }}
          <div class="error-message">{{ errorMessage }}</div>
          {{/if}}

          <button id="login">Login</button>

        </form>
        <div class="verticalDivider"></div>

        <section id="googleSignup">
          <p>Or you can login with your Google Account!</p>
          {{#unless user}}
          <a href="/auth/google">Login With Google</a>
          {{/unless}}
        </section>
      </div>

      <a href="/" class="back">Go Back</a>

    </div>
  </div>
</body>

</html>