<form action="/login" method="POST" id="form">
  <h2>Login</h2>

  <label for="username">Username</label>
  <input type="text" name="username">

  <label for="email">Email</label>
  <input type="text" name="email">

  <label for="password">Password</label>
  <input type="password" name="password">

  {{#if errorMessage }}
  <div class="error-message">{{ errorMessage }}</div>
  {{/if}}

  <button id="login">Login</button>

</form>

<p>Or</p>

{{#unless user}}
<div id="google">
  <a href="/auth/google">Login With Google</a>
</div>
{{/unless}}

<a href="/">Back Home</a>