<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <main id="signup">
    <div class="container">
      <h2>Signup</h2>

      <div {{!-- id="normalSignup" --}}>

        <form action="/signup" method="POST" id="form-container">
          <label for="username">Username</label>
          <input id="username" type="text" name="username" placeholder="Your username">
          <label for="email">Email</label>
          <input id="email" type="email" name="email" placeholder="Your email">
          <label for="password">Password</label>
          <input id="password" type="password" name="password" placeholder="Your password">
          {{#if message}}
          <div class="error-message">{{ message }}</div>
          {{/if}}
          <button>Create account</button>
        </form>

        <div class="verticalDivider"></div>

        <section id="googleSignup">
          <p class="or">Or you can sign up with you Google Account!</p>
          {{#unless user}}
          <a href="/auth/google">SignUp With Google</a>
          {{/unless}}
        </section>

      </div>

      <a href="/" class="back">Go back</a>
    </div>
  </main>
</body>

</html>