<div class="homeIntro">
  <h1>Surf spots for digital nomads</h1>
  <h3>Find the spot best suited for you</h3>
</div>

<div class="homeButtons">
  <a href="./login">Login</a>
  <a href="./signup">Sing Up</a>
</div>