<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <header>
    <nav>
      <div>
        <img src="images/logo_56_white.svg" alt="Logo" id="logo">
        <a href="/explore" class="navLink"><img src="images/24_explore_white.svg" alt="">
          <h6>Explore</h6>
        </a>
        <a href="/favourites" class="navLink"><img src="images/24_favourites_white.svg" alt="">
          <h6>Favourites</h6>
        </a>
      </div>
      <div>
        <img src="images/32_profile_white.svg" alt="">
        <a href="" class="navLink"><img src="images/24_logout_white.svg" alt="">
          <h6>Log Out</h6>
        </a>
      </div>
    </nav>
  </header>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

</html>