@charset "UTF-8";
/*
    Created on : Apr 2020
    Author: Maria Muga & Clara Fernández-Miranda
*/
/* RESET
=====================*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif; }

/* HOME
=====================*/
#homeIntro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  color: #fafffe;
  padding: 20px; }

#homeVideo {
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: -999; }

video {
  height: 100vh; }

#homeButtons {
  margin: 80px; }

.myBtnLogin {
  width: 200px;
  font-size: 18px;
  padding: 10px 16px;
  border: none;
  background: #65c0c7;
  color: #fafffe;
  margin-right: 30px; }

.myBtnSignup {
  width: 200px;
  font-size: 18px;
  padding: 10px 16px;
  border: none;
  background: #65c0c7;
  color: #fafffe;
  margin-right: 30px; }

.myBtnLogin:hover {
  background: #ddd;
  color: #152729; }

.myBtnSignup:hover {
  background: #ddd;
  color: #152729; }

/* LOGIN
=====================*/
#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  color: #fafffe;
  padding: 20px; }

input {
  margin: 7px;
  padding: 5px; }

#login {
  width: 200px;
  font-size: 18px;
  padding: 10px 16px;
  border: none;
  background: #65c0c7;
  color: #fafffe;
  margin-right: 30px;
  margin-top: 10px; }

p {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  color: #fafffe;
  padding: 20px; }

#google {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  color: #fafffe;
  padding: 20px; }

/* HEADER - NAV
=====================*/
header {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 88px;
  background-color: #65c0c7;
  /* background-color: #99e0d6; */
  /* background-color: #fafffe; */ }

nav {
  height: 100vh;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center; }

nav ul {
  list-style: none; }

nav div #logo {
  margin-bottom: 20px; }

nav div .navLink {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  /* color: #152729; */
  color: #fafffe;
  text-decoration: none; }

nav div .navLink h6 {
  font-size: 10px;
  margin-top: 3px;
  font-weight: 500; }

/* MAIN
=====================*/
main {
  padding: 32px;
  width: 50vw; }

.spotCard {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  padding: 8px;
  border-radius: 4px; }

.cardImage {
  border-radius: 4px;
  width: 200px;
  background-size: cover;
  background-repeat: no-repeat; }

.cardContent {
  height: 136px;
  width: 80%;
  padding-left: 16px; }

.cardContent div:first-child {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between; }

.tagsCard,
.locationCard {
  display: flex; }

.tagsCard {
  margin-top: 8px; }

.locationCard h5:first-child {
  margin-right: 4px; }

.locationCard h5:last-child {
  margin-left: 4px; }

a {
  text-decoration: none;
  color: #152729; }

a:hover {
  text-decoration: none;
  color: #65c0c7; }

.cardContent h2 {
  font-size: 24px;
  font-weight: 500; }

.divider {
  position: relative;
  top: 0px;
  margin: 16px auto 0;
  height: 1px;
  width: 100%;
  background-color: rgba(21, 39, 41, 0.1); }

aside {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #dff3f5;
  height: 100vh;
  width: 40vw; }

/*# sourceMappingURL=style.css.map */