/*
    Created on : Apr 2020
    Author: Maria Muga & Clara Fernández-Miranda
*/
/* RESET
=====================*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

/* Add some content at the bottom of the video/page */
#homeIntro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  color: #fafffe;
  padding: 20px;
}

/* Style the video: 100% width and height to cover the entire window */
#homeVideo {
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: -999;
}

video {
  height: 100vh;
}

#homeButtons {
  margin: 80px;
}

.myBtnLogin {
  width: 200px;
  font-size: 18px;
  padding: 10px 16px;
  border: none;
  background: #65c0c7;
  color: #fafffe;
  margin-right: 30px;
}

.myBtnSignup {
  width: 200px;
  font-size: 18px;
  padding: 10px 16px;
  border: none;
  background: #65c0c7;
  color: #fafffe;
  margin-right: 30px;
}

.myBtnLogin:hover {
  background: #ddd;
  color: #152729;
}

.myBtnSignup:hover {
  background: #ddd;
  color: #152729;
}
