@charset "UTF-8";
/*
    Created on : Apr 2020
    Author: Maria Muga & Clara Fernández-Miranda
*/
/* RESET
=====================*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: rgba(21, 39, 41, 0.9); }

/* MAIN
=====================*/
main {
  margin-left: 88px;
  padding: 32px;
  width: 50vw; }

a {
  text-decoration: none;
  color: #152729; }

a:hover {
  text-decoration: none;
  color: #65c0c7; }

/* HOME
=====================*/
#homeIntro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  /* background: rgba(21, 39, 41, 0.3); */
  background: rgba(250, 255, 254, 0.01);
  color: #fafffe;
  padding: 20px;
  position: relative;
  z-index: 1000; }

#homeVideo {
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #fff; }

video {
  height: 100vh; }

.introText {
  font-size: 50px; }

.introTextSecondary {
  font-size: 25px;
  margin-top: 20px; }

#homeButtons {
  margin: 80px;
  text-align: center; }

#homeButtons a {
  display: block;
  margin-top: 16px; }

.btnPrimary {
  width: 200px;
  color: #fafffe;
  background-color: #65c0c7;
  padding: 8px;
  font-size: 15px; }

.btnSecondary {
  width: 200px;
  padding: 8px;
  font-size: 15px;
  border: 1px solid #65c0c7;
  color: #65c0c7; }

.btnPrimary:hover,
.btnSecondary:hover {
  background: #fafffe;
  color: #65c0c7; }

.btnSecondary:hover {
  border: 1px solid #fafffe; }

/* SIGNUP
=====================*/
main#signup {
  height: 100vh;
  width: 100vw;
  margin-left: 0;
  padding: 0;
  background-image: url(../images/signup.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }

.container {
  background: rgba(250, 255, 254, 0.6);
  padding: 48px 80px 36px;
  text-align: center; }

.container div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px; }

form {
  display: flex;
  flex-direction: column;
  width: 16vw; }

label {
  font-size: 11px;
  text-align: left; }

form label:not(:first-child) {
  margin-top: 12px; }

input {
  margin-top: 4px;
  padding: 8px;
  border: 0;
  font-size: 14px;
  font-weight: 300; }

input:focus {
  outline: none;
  color: #65c0c7; }

button {
  color: #fafffe;
  background-color: #65c0c7;
  border: 0;
  padding: 8px 0;
  font-size: 15px;
  margin-top: 24px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif; }

div.verticalDivider {
  width: 1px;
  height: 180px;
  background-color: rgba(21, 39, 41, 0.5);
  margin: 0 64px; }

.container p {
  width: 16vw;
  font-size: 14px; }

#googleSignup a {
  color: #fafffe;
  background-color: #65c0c7;
  display: inline-block;
  padding: 8px 0;
  font-size: 15px;
  width: 16vw;
  margin-top: 24px; }

button:hover,
#googleSignup a:hover {
  background: #fafffe;
  color: #65c0c7; }

.container a.back {
  display: inline-block;
  margin-top: 32px;
  font-size: 12px; }

/* LOGIN
=====================*/
/* #form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100vw;
  background: rgba(250, 255, 254, 0.01);
  color: #65c0c7;
  padding: 20px;
}

#login {
  width: 200px;
  font-size: 18px;
  padding: 10px 16px;
  border: none;
  background: #65c0c7;
  color: #fafffe;
  margin-right: 30px;
  margin-top: 10px;
  margin-left: 35px;
  border-radius: 4px;
}

/* p {
  text-align: center;
  height: 10vh;
  width: 100vw;
  background: rgba(21, 39, 41, 0.5);
  color: #fafffe;
} 

#google {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background: rgba(250, 255, 254, 0.01);
  color: #65c0c7;
  padding: 20px;
} */
/* HEADER - NAV
=====================*/
header {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 88px;
  background-color: #65c0c7;
  /* background-color: #99e0d6; */
  /* background-color: #fafffe; */ }

nav {
  height: 100vh;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center; }

nav ul {
  list-style: none; }

nav div #logo {
  margin-bottom: 20px; }

nav div .navLink {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  /* color: #152729; */
  color: #fafffe;
  text-decoration: none; }

nav div .navLink h6 {
  font-size: 10px;
  margin-top: 3px;
  font-weight: 500; }

/* DROPDOWN */
.custom-select {
  width: 40%;
  position: relative;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8); }

.custom-select select {
  display: none;
  /*hide original SELECT element:*/ }

.select-selected {
  background-color: rgba(0, 0, 0, 0.05); }

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: rgba(0, 0, 0, 0.2) transparent transparent transparent; }

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent rgba(0, 0, 0, 0.2) transparent;
  top: 7px; }

/*style the items (options), including the selected item:*/
.select-selected {
  color: rgba(0, 0, 0, 0.2);
  padding: 8px 16px;
  cursor: pointer;
  user-select: none; }

.select-items div {
  color: rgba(0, 0, 0, 0.8);
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none; }

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #edeeee;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99; }

/*hide the items when the select box is closed:*/
.select-hide {
  display: none; }

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1); }

/* SPOTS
=====================*/
#spots div#top h1 {
  display: inline-block;
  margin-top: 48px;
  color: rgba(21, 39, 41, 0.8); }

#spots div#top h4 {
  display: inline-block;
  margin-left: 24px;
  font-weight: 500;
  color: rgba(21, 39, 41, 0.7); }

.spotCard {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  padding: 8px;
  border-radius: 4px; }

.cardImage {
  border-radius: 4px;
  width: 200px;
  background-size: cover;
  background-repeat: no-repeat; }

.cardContent {
  height: 136px;
  width: 80%;
  padding-left: 16px; }

.cardContent div:first-child {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between; }

.tagsCard,
.locationCard {
  display: flex; }

.tagsCard {
  margin-top: 8px; }

.locationCard h5:first-child {
  margin-right: 4px; }

.locationCard h5:last-child {
  margin-left: 4px; }

.cardContent h2 {
  font-size: 24px;
  font-weight: 500; }

.divider {
  position: relative;
  top: 8px;
  margin: 16px auto 0;
  height: 1px;
  width: 100%;
  background-color: rgba(21, 39, 41, 0.1); }

aside {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #dff3f5;
  height: 100vh;
  width: 40vw; }

/*# sourceMappingURL=style.css.map */